[submodule "ophidian-DEF/DEF"]
	path = ophidian-DEF/DEF
	url = https://gitlab.com/eclufsc/DEF.git
[submodule "ophidian-LEF/LEF"]
	path = ophidian-LEF/LEF
	url = https://gitlab.com/eclufsc/LEF.git
[submodule "ophidian-verilog-parser/verilog-parser"]
	path = ophidian-verilog-parser/verilog-parser
	url = https://gitlab.com/eclufsc/verilog-parser.git
[submodule "ophidian-units/units"]
	path = ophidian-units/units
	url = git@gitlab.com:eclufsc/units.git
